.nav-spacer {
  flex: 1 1 auto;
}

.table-width-limit {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
}

.toolbar-width-limit {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center
}
